/*
Hier steht aller Content mit den inhalt

Aufbau einer Css

[.][#] Name {

    [display]
    [Grid und Flex Config]

    [Ausrichtung]

    [Config]
            }

Leere Zeile ist Leertaste


*/


@media screen and (min-width: 768px) {



    .container{
            
        display: flex;

        align-items: center;
        justify-content: center;

        overflow: hidden;
        }
    .Cart-Container{
        
        display: flex;
        flex-flow: column nowrap;

        width: 30%;
        height: 85%;
        margin: 40px auto;

        border-radius: 20px;
        border: 1px solid rgb(211, 206, 206);
        background-color: white;
        overflow: hidden;
        /*
        box-shadow: 0px 25px 40px #1687d933;
        */
        }


    /*
    .intro-1 { }*/


    .cloud         {grid-area: cloud;text-align: center;}
    .shop          {grid-area: shop;text-align: center;}
    .block         {grid-area: block;text-align: center;}
    .Portfolio     {grid-area: Portfolio;text-align: center;}
    .support       {grid-area: support;text-align: center;}
    .https         {grid-area: https;text-align: center;}
    .cloudName {

        grid-area: CN;

        margin-left: -15px;
        text-align: center;
        }
    .shopName {

        grid-area: SN;

        margin-left: 0;
        text-align: center; 
        }
    .blockName {

        grid-area: BN;

        margin-left: 0;
        text-align: center;    
        }
    .PortfolioName{

        grid-area: PN;

        margin-left: 0;
        text-align: center;
        }
    .supportName{

        grid-area: SUN;

        margin-left: 0;
        text-align: center;
        }
    .httpsName{

        grid-area: ssl;

        margin-left: 0;
        text-align: center;
        }

    .intro-Ü {

        margin-top: 50px;
        margin-bottom: 15px;

        text-shadow: 1px 1px 2px rgb(209, 207, 205);
        font-family:sans-serif;
        font-size: 25px;
        color:darkturquoise;
       }
    .intro-A-A {

        margin: auto;
        padding: 0;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 38px;
        }
    .intro-A-B {

        margin-top: 10px;
        padding: 0;

        color:lightgreen;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }


    .web-1 {

        display: flex;
        flex-flow: column nowrap;

        overflow: hidden;
    }
    .web-ü {margin:65px auto auto auto;}

    .web-1 > h2 {margin: 90px auto 30px auto;}
    .web-1  p {
        
        margin: 20px auto 30px auto;

        font-size: large;
        text-align: center;

    }

    .sbp-2 {
        
        display: flex;
        flex-flow: row nowrap;
    }
    .sbp-2-1 {

        flex: 1;
        margin: auto;

    }

    .sbp-1 {

        display: flex;
        flex-flow: column nowrap;

        margin-right: 20px;
    }

    .sbp-1  h2 {
        margin: 50px auto 20px auto;

    }

    .sbp-1  p {
        margin: 20px auto 20px auto;

    }


    /* der Css Code von 

    https://ebene11.com/imageslider-ohne-javascript
    Habe den code NICHT bearbeitet und habe keine Rechte daran.

    */
    .sliderElements,
    .sliderElements figure,
    .sliderControls {
        margin: 0;
    }
     
    .sliderElements:after {
        content: ".";
        display: block;
        height: .1px;
        clear: both;
        visibility: hidden;
        font-size: 0;
        overflow: hidden;
    }
     
    .cssSlider {
        overflow-x: hidden;
    }
     
    .sliderElements {
        list-style: none;
        position: relative;
        left: 0;
        width: 400%;
        margin-bottom: .8em;
        padding: 0;
        -webkit-transition: left .8s ease-in-out;
        -moz-transition: left .8s ease-in-out;
        -o-transition: left .8s ease-in-out;
        transition: left .8s ease-in-out;
    }
     
    .sliderElements > li {
        float: left;
        width: 25%;
        position: relative;
    }
     
    #slide02:checked ~ .sliderElements {
        left: -100%;
    }
     
    #slide03:checked ~ .sliderElements {
        left: -200%;
    }
     
    #slide04:checked ~ .sliderElements {
        left: -300%;
    }
     
    /* Bildunterschrift auf dem Bild positionieren */
    .sliderElements figcaption {
        display: block;
        color: #fff;
        position: absolute;
        left: 0;
        bottom: 1em;
        padding: .4em;
        background: rgba(0,0,0,.5);
    }
     
    /* Bilder responsive */
    .sliderElements img {
        width: 100%;
        height: auto;
    }
     
     
    /* inputs aus dem Blickfeld schieben */
    .cssSlider input {
        position: absolute;
        left: -99999px;
    }
     
    /* mittige Ausrichtung der Controls - funktioniert im Zusammenspiel mit inline-block */
    .sliderControls {
        text-align: center;
    }
     
    /* Controls nebeneinander bringen */
    .sliderControls li {
        display: inline-block;
    }
     
    /* Controls auf einheitliche Maße bringen und die Ecken abrunden */
    .sliderControls label {
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        display: block;
        cursor: pointer;
        background: #68B022;
        color: #68B022;
    }
     
    /* Attributselektor und indirekter Nachfahrkombinator zum ansteuern der labels */
    .sliderControls label:hover,
    #slide01:checked ~ .sliderControls label[for="slide01"],
    #slide02:checked ~ .sliderControls label[for="slide02"],
    #slide03:checked ~ .sliderControls label[for="slide03"],
    #slide04:checked ~ .sliderControls label[for="slide04"] {
        background: #ddd;
        color: #ddd;
    }

    /* Ende des Codes von Jemanden Anders */

    .b-sup{
        
        display:flex;
        grid-area:bild;
        
        align-content: center;
        justify-content: center;
       
        overflow: hidden;
        box-sizing: border-box;

    }
    
    .b-sup-b {
        
        margin:auto;
    }
    
    .text-sup {
        
        grid-area:text;
     
        font-size: medium;        
    }
    
    .inh-sup{
        
        display:flex;
        grid-area:inhalt;    
    }
  
    .inh-cont{
        
        display:flex;

        margin: auto;
        width: 100px;
        height: 100px;
        

        border: 0.5px solid rgb(211, 206, 206);
        text-align: center;
        border-radius: 100px;
    }
    
    .inh-text {margin: auto}
    .supp-b{grid-area:bild-2;overflow: hidden}



}
