/*
Hier steht aller Content mit den inhalt

Aufbau einer Css

[.][#] Name {

    [display]
    [Grid und Flex Config]

    [Ausrichtung]

    [Config]
            }

Leere Zeile ist Leertaste


*/


@media screen and (min-width: 768px) {

#Intro {min-height: 400px;background-color: #f6f8f9;}
    .intro {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        margin: 0 300px 0 300px;
        
        box-sizing: border-box;
       
        }
    .container{
            
        display: flex;

        align-items: center;
        justify-content: center;

        overflow: hidden;
        }
    .Cart-Container{
        
        display: flex;
        flex-flow: column nowrap;

        width: 30%;
        height: 85%;
        margin: 40px auto;

        border-radius: 20px;
        border: 1px solid rgb(211, 206, 206);
        background-color: white;
        overflow: hidden;
        /*
        box-shadow: 0px 25px 40px #1687d933;
        */
        }


    /*
    .intro-1 { }*/
    .intro-2 {

        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(6,1fr);
        grid-template-areas:
        ". . . . . . . . ."
        ". cloud cloud . shop shop . block block"
        ". CN CN . SN SN . BN BN"
        ". . . . . . . . ."
        ". Portfolio Portfolio . support support . https https"
        ". PN PN . SUN SUN . ssl ssl";
        }

    .cloud         {grid-area: cloud;text-align: center;}
    .shop          {grid-area: shop;text-align: center;}
    .block         {grid-area: block;text-align: center;}
    .Portfolio     {grid-area: Portfolio;text-align: center;}
    .support       {grid-area: support;text-align: center;}
    .https         {grid-area: https;text-align: center;}
    .cloudName {

        grid-area: CN;

        margin-left: -15px;
        text-align: center;
        }
    .shopName {

        grid-area: SN;

        margin-left: 0;
        text-align: center; 
        }
    .blockName {

        grid-area: BN;

        margin-left: 0;
        text-align: center;    
        }
    .PortfolioName{

        grid-area: PN;

        margin-left: 0;
        text-align: center;
        }
    .supportName{

        grid-area: SUN;

        margin-left: 0;
        text-align: center;
        }
    .httpsName{

        grid-area: ssl;

        margin-left: 0;
        text-align: center;
        }
    .intro-A {

        display: flex;
        flex-flow: column wrap;

        margin: auto;

        font-family: sans-serif;
        font-size: larger;
        }
    .intro-Ü {

        margin-top: 50px;
        margin-bottom: 15px;

        text-shadow: 1px 1px 2px rgb(209, 207, 205);
        font-family:sans-serif;
        font-size: 25px;
        color:darkturquoise;
       }
    .intro-A-A {

        margin: auto;
        padding: 0;

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 38px;
        }
    .intro-A-B {

        margin-top: 10px;
        padding: 0;

        color:lightgreen;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

#web-hosting{min-height: 400px;}
    .web-hosting {

        display: grid;
        grid-template-columns: 200px 1fr;

        height: 500px;
        margin: 0 300px 0 300px;

        box-sizing: border-box;
        }

    .web-1 {

        display: flex;
        flex-flow: column nowrap;

        overflow: hidden;
    }
    .web-ü {margin:65px auto auto auto;}


#shop-block-pofo{min-height: 400px;background-color: #f6f8f9;}
     .shop-block-pofo {

        display: grid;
        grid-template-columns: 1fr 1fr;

        height: 500px;
        margin: 0 300px 0 300px;

        box-sizing: border-box;
     }   








}
