/*
Hier steht aller menüs und listen.

Aufbau einer Css

[.][#] Name {

    [display]
    [Grid und Flex Config]

    [Ausrichtung]

    [Config]
            }

Leere Zeile ist Leertaste


*/

@media screen and (min-width: 768px) {

    #header ul {

        display: flex;
        flex-flow: row nowrap;

        float: right;
        margin-right: 50px;

        list-style-type: none;
        }

        #header ul li {
            
        flex: 1;

        min-width: 80px;
        margin: auto;
        padding: 5px;
        text-align: center;
                }


}
